.color-text { color: #cfffc0;
              text-align: right;
              padding-right: 20px;
               }
.color-text-title { color: #85b686
                    }

header {
  width: display;
  height: 55px;
  background-color: #addfad;
  margin-bottom: 10px;
}

.flex-container {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-item {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}