<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Mars One</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
       @import url("static/css/style.css")
    </style>
    </head>
    <body>
    <header class="flex-container bg-info p-2 mb-2 d-flex">
        <div class="color-text-title"><h2>Mars one</h2></div>

        <ul class="nav">
           <li class="nav-item">
                <a class="dropdown-item" href="/login">Войти</a>
           </li>
           <li class="nav-item">
                <a class="dropdown-item" href="/register">Регистрация</a>
           </li>
           <li class="nav-item">
                <a class="dropdown-item" href="/addjob">добавить работу</a>
           </li>
       </ul>
    </header>
    <div class="color-text">
        {% if current_user.is_authenticated %}
             <h5>И на Марсе будут яблони цвести!
                 <p align="right"><a href="/">{{ current_user.name }} {{ current_user.surname }}</a></p>
             </h5>
        {% else %}
                <h5>И на Марсе будут яблони цвести!</h5>
        {% endif %}
        </div>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    </body>
</html>