<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Mars One</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        h4 {
            color: #175c56;
            padding: 5px;
            }
    </style>
    </head>
    <body>
    <header class="container-fluid text-light bg-info p-2 mb-2 d-flex">
           <div class="alert alert-info">
                   <h1>Mars one</h1>
                   <a class="btn btn-primary ml-1" href="/login">Войти</a>
                   <a class="btn btn-primary ml-1" href="/register">Регистрация</a>
            </div>
        {% if current_user.is_authenticated %}
            <h4>И на Марсе будут яблони цвести!
                <p align="left">{{ current_user.name }}</p>
             </h4>
        {% else %}
            <h4>И на Марсе будут яблони цвести!</h4>
        {% endif %}

    </header>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    </body>
</html>
